      <footer class="mastfoot mt-auto">
        <div class="inner">
          <%= source_helper %>
          <br/>
          <%= copyright_generator %>
          <br/>
          <%= photo_credit_generator %>
        </div>
      </footer>