<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolios</h1>
    <p class="lead text-muted">The path of a developer leads many projects, here is a few of mine to show off!</p>

  </div>
</section>