        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>3JMCoding Blog is going to be a tale of my journey creating my future!</p>
          </div>

          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled social-links">
                <li><a href="https://github.com/Daemonlord92"><%= fa_icon 'github' %></a></li>
              <li><a href="https://twitter.com/TrainingLinuxA1"><%= fa_icon 'twitter' %></a></li>
              <li><a href="https://www.facebook.com/Invictusdeus"><%= fa_icon 'facebook' %></a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
