
<div class="app-card-container">
  <div class="card card-block">
    <main role="main" class="row">
      <div class='col-md-5'>
          <h1 class="cover-heading">Getting Ahold of Me!</h1>
          <h3 class='lead'>Phone Number!</h3>
          <p class="lead"><%= number_to_phone "5036803865" %></p>
          <p class='lead'><%= mail_to '3jmcoding@protonmail.com', 'Email Me!' %></p>
      </div>

      <div class='col-md-6'>
              
      </div>
    </main>
    
  </div>
</div>