<main role="main" class="row">
    <div class='col-md-5'>
        <h1 class="cover-heading">Getting Ahold of Me!</h1>
        <h3 class='lead'>Phone Number!</h3>
        <p class="lead"><%= number_to_phone "5034077746" %></p>
        <h3 class="lead">Address!</h3>
        <p class="lead">1025 North Simpson Street Portland, OR 97217</p>
        <p class='lead'><%= mail_to '3jmcoding@protonmail.com', 'Email Me!' %></p>
    </div>

  <div class='col-md-6'>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2793.2363114770887!2d-122.67974338443912!3d45.56568627910226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a70969b68899%3A0x98e625cf0f86d6!2s1025+N+Simpson+St%2C+Portland%2C+OR+97217!5e0!3m2!1sen!2sus!4v1518088116314" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  </main>
