     <main role="main" class="inner cover">
        <h1 class="cover-heading">Howdy All!</h1>
        <p class="lead">Welcome to 3JMCoding! Here I will build software and web application to customer expectation. Right now I specialize in Ruby of Rails Development but am looking fowards towards python, c++, c, and Javascript!</p>
        <p class="lead">
          <%= link_to 'About Me', about_path, class: 'btn btn-lg btn-secondary' %>
        </p>
      </main>


