
<div class="card card-block">
     <main role="main" class="inner cover">
        <h1 class="cover-heading">Howdy All!</h1>
        <p class="lead">Welcome to 3JMCoding, specializing in building software and web applications according to customer specifications. I currently specialize in Ruby on Rails Development and Django Development!</p>
        <p class="lead">
          <%= link_to 'About Me', about_path, class: 'btn btn-lg btn-secondary btn-trans' %>
        </p>
      </main>
</div>

