@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

html{
    font-family: 'Vollkorn SC', serif;
    background-color: darkslategrey;
}

.top a {
    top: 15%;
    margin-right: 5%;
    padding: 10px;
    
}