// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

body{
    font-family: 'Vollkorn SC', serif;
    background-color: lightslategrey;
    color: antiquewhite;
}

.bottom a {
    margin-right: 5%;
    padding: 10px;
    color: antiquewhite;
}
.bottom a::visit {
    color: antiquewhite;
}