// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

html{
    font-family: 'Vollkorn SC', serif;
    background-color: lightslategray;
    color: antiquewhite;
}

.top a {
    margin-right: 5%;
    padding: 10px;
    color: antiquewhite;
    width: 80%;
}
.top a::visit {
    color: antiquewhite;

}

div ul li{
    list-style: none;
}