// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');

body{
    font-family: 'Vollkorn SC', serif;
    background-color: lightslategray;
    
}

.top a {
    top: 15%;
    margin-right: 5%;
    padding: 5px;
    text-decoration: none;
}
.top a::visit {

}

div ul li{
    list-style: none;
}